.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  width: max-content; 
  animation: scroll 30s linear infinite; 
}

.carousel-track img {
  width: 150px;
  flex-shrink: 0; /* prevents glitch */
  height: auto;
  border-radius: 10px;
}

.carousel-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel-wrapper:hover .carousel-track {
  animation-play-state: paused;
}
